.subtitle {
  color: #d9e7ff;
  font-size: 16px;
  margin-bottom: 25px;
}

h2 {
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

button {
  letter-spacing: 0.4px;
}

img {
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.02);
}